.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.auth-form.hidden {
  display: none;
}

.auth-input, .auth-button {
  padding: 10px;
  font-size: 16px;
}

.auth-input {
  border: 1px solid #d1d5db;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.2s;
}

.auth-input:focus {
  border-color: #4f46e5;
}

.auth-button {
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.auth-button:hover {
  background: #6a5ef2;
}