/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh; /* Full height of viewport */
    display: grid; /* Use grid layout */
    grid-template-rows: 80px 1fr auto; /* Stretch main content, footer stays at the bottom */
}

/* Header Styles */
header {
    background-color: #f8f8f8; /* Off white */
    padding: 20px;
}

header .logo{
    font-size: 32px;
    color: #000; /* Black text */
}
header .logo:hover {
    color:orange;
    font-size: 34px;
}
.page {
    font-size: 32px;
    color: #000; /* Black text */
    font-weight:bold;
}

/* Main Content Styling */
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px; /* Add some padding to content */
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
}

.left-section {
    min-width: auto;
}

.left-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #333; /* Dark gray text */
}

.right-section {
    background-color: #e0e0e0; /* Light grey */
    min-width: auto;
    margin: 15px;
    padding: 0;
}

.applications-header {
    background-color: #b0b0b0; /* Darker grey */
    padding: 5px;
    font-size: 18px;
}

.applications-content {
    padding: 5px;
    padding-left: 25px;
    font-size: 16px;
}

/* Footer */
footer {
    background-color: #f8f8f8; /* Same as header */
    text-align: center;
    padding: 10px;
}

footer .card {
    display: inline-block; /* Centering footer content */
    align-content: center;
}

footer a {
    color: #000; /* Footer link color matching header */
    text-decoration: none;
    margin: 0 10px; /* Spacing between links */
}

footer a:hover {
    text-decoration: underline; /* Optional hover effect */
}

/* Responsive adjustments */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}
